.unity-list-view__item {
     /*background-color: red;*/
}

.unity-list-view__item:hover {
    /*background-color: blue;*/
}

.unity-list-view__item:checked {
    background-color: #b4b4b4;
    color: black;
}

.unity-list-view__item:checked:hover {
    /*background-color: green;*/
}